@font-face {
   font-family: 'FC Muffin Regular';
   font-display: swap;
   src: url('file:///C:/Users/Samsung/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-06-02_140840/fonts/FC%20Muffin%20Regular/font.ttf');
}
